# Core functionality - changes here should be rare!
/src/app.py                   @sampurna744
/src/backend/database.py      @sampurna744
/src/backend/routers/auth.py  @sampurna744

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sampurna744
